

.footer {
    padding: 25px 0;
    margin-top: 20px;
    background-color: #f4f5ff;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
    position: relative; 
}

.footer .social {
    position: absolute;
    transition: height 600ms ease 0s;
    overflow: hidden;
    max-width: 600px;
    text-align: right;
    padding-bottom: 15px;
    color: #2F1C6A;
    right: 15px;
    bottom: 15px; 
}

.footer .social a {
    font-size: 33px;
    color: inherit;
    width: 35px;
    height: 20px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    margin: 0 28px;
    opacity: 0.75;
}

.footer .social a:hover {
    opacity: 1.75;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: left;
    color: #2F1C6A;
    position: relative; 
    left: 15px; 
    bottom: 15px; 
}

.footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 1.75;
}

.footer ul li {
    display: block;
    padding: 5px 0;
}

.footer ul li a:hover {
    opacity: 1;
}

.copyright {
    text-align: center;
    font-size: 17px;
    display: flex;
    flex-wrap: wrap;
    border-top: solid 1px rgba(140, 133, 255, 0.2);
    padding: 20px 0;
    justify-content: space-between;
}
