/* HeroSlider.css */
.carousel .a-block.w-100{
    background-color: black !important;
    max-height: 350px;
    overflow: hidden;
}

.carousel-inner {
    max-width: 600px;
    margin: 0 auto;
}

.carousel-item img {
    width: 100%;
    height: auto;
}
