/* HeroSlider.css */
.carousel {
    max-height: 450px; 
    overflow: hidden; 
    background-color: #673ee5
}

.carousel-inner {
    max-width: 600px; 
    margin-left: 100px;
}

.carousel-item img {
    width: 100%; 
    height: auto; 
    

}
.carousel-caption h3 {
    color: black;
    text-align:right;
    font-size: 36px;
    font-weight: bold;
    margin-inline-end: 20px;
    
    
}
.carousel-caption p {
    color: rgba(0, 0, 0, 0.686);
    text-align:right;
    font-size: 25px;
    font-weight: bold;
    margin-right: 60px;
    
}

.carousel-caption {
    position: absolute; /* Nastaviť pozíciu textu na absolutnú */
    top: 10; /* Nechajte text na vrchu */
    right: 0; /* Posunúť text doprava */
    bottom: 0; /* Nechajte text na dne */
    left: auto; /* Zrušte výchozí hodnoty left (ktoré by mohli brániť posunu doprava) */
    padding: 25px; /* Pridať odstup od okrajov */
    text-align: right; /* Zarovnať text na pravú stranu */
    z-index: 1; /* Z-index, aby bol text nad obrázkom */
}
