/* HeroSlider.css */
.a-block {
    background-color:aqua;
    max-height: 350px; /* Nastaví maximální výšku bannera na 350px */
    overflow: hidden; 
}

.carousel-inner {
    max-width: 600px; 
    margin: 0 auto; 
}

.carousel-item img {
    width: 100%; 
    height: auto; 
}
