/* HeroSlider.css */
.carousel {
    background-color:rgb(90, 73, 174);
    max-height: 350px; 
    overflow: hidden; 
}

.carousel-inner {
    max-width: 600px; 
    margin: 0 auto; 
}

.carousel-item img {
    width: 100%; 
    height: auto; 
}
