/* HeroSlider.css */
.carousel {
    max-height: 350px; 
    overflow: hidden; 
    background-color: #673ee5
}

.carousel-inner {
    max-width: 600px; 
    margin: 0 auto; 
}

.carousel-item img {
    width: 100%; 
    height: auto; 

}
 .Caption {
    color: black;

}
